@media (min-width: 601px) {
  body {
    width: 600px;
    margin: 8px auto;
  }
}

p { text-align: justify; }

h1,
h2,
h3 { text-align: left; }

footer {
  text-align: left;
  word-break: break-word;
}

dt { font-style: italic; }

dd > ul { margin: 0; }

img {
  margin: 1em 0;
  max-width: 100%;
}

div.footnote { margin: 1em 0; }

/* epub */

p:not([class]) {
  margin: 0;
  padding: 0;
}

p:not([class]) + p:not([class]) {
  text-indent: 1em;
}

.lead { margin: 1em 0; }

blockquote {
  margin: 1em 0 1em 0.5em;
  padding-left: 0.5em;
  border-left: 1px dotted;
}
